#anexos p{
  margin-left: 36px;
  margin-right: 32px;
  margin-bottom: 24px;
}

#referencias {
  margin-left: 4px;
  margin-right: 32px;
}

.nota{
  margin-left: 36px;
  margin-right: 32px;
  font-size: 0.8em;
}