#barra-superior-resumen {
  height: 50px;
  width: 100%;
  background-color: #BF360C;
  display: flex;
  align-items: center;
  border-top-right-radius: 8px;
  color: white;
}

#barra-superior-resumen h1 {
  margin-left: 24px;
  font-size: 1em;
  font-weight: bold;
}

#fondo-resumen {
  background: white;
  flex: 1;
  border-bottom-right-radius: 8px;
}

#contenido-resumen {
  display: flex;
  flex-direction: row;
}

div[id^="fondo-estrategia"] {
  flex: 1;
  padding: 56px 24px;
  border-radius: 8px;
  margin-top: 24px;
}

#fondo-estrategia-a {
  background-color: #eee;
  margin-left: 24px;
  margin-right: 12px;
}

#fondo-estrategia-b {
  background-color: #eee;
  margin-left: 12px;
  margin-right: 24px;
}