#fondo-resumen {
  background: white;
  flex: 2;
  border-bottom-right-radius: 8px;
  transition: all .5s ease-in-out;
}

#barra-superior-resumen {
  height: 50px;
  width: 100%;
  background-color: #BF360C;
  display: flex;
  align-items: center;
  border-top-right-radius: 8px;
  color: white;
}

#barra-superior-resumen h1 {
  margin-left: 24px;
  font-size: 1em;
  font-weight: bold;
}

#contenido-resumen {
  display: flex;
  flex-direction: column;
}

#grafico-crecimiento {
  display: flex;
  justify-content: center;
  height: 320px;
}

#cuadros-estrategias {
  display: flex;
  flex-direction: row;
}

div[id^="fondo-estrategia"] {
  flex: 1;
  border-radius: 8px;
  margin-top: 16px;
  background-color: #F5F5F5;
}

#fondo-estrategia-a {
  margin-left: 16px;
  margin-right: 8px;
}

#fondo-estrategia-b {
  margin-left: 8px;
  margin-right: 16px;
}

div[id^="fondo-estrategia"] h1 {
  padding: 12px 0;
  text-align: center;
  width: 100%;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#fondo-estrategia-a h1 {
  background-color: #E65100;
}

#fondo-estrategia-b h1 {
  background-color: #0097A7;
}

.resultados-estrategia {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #121212;
}

.resultados-estrategia h2 {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 8px;
}

.resultados-estrategia p {
  width: 160px;
  text-align: center;
}