#titulo-tabla-estructura-costos {
  font-size: .85em;
}

#tabla-estructura-costos {
  margin-top: 8px;
}

#tabla-estructura-costos td {
  font-size: .8em;
  text-transform: capitalize;
  vertical-align: middle;
  padding: 4px 10px;
}

#tabla-estructura-costos input {
  height: 11px;
  font-size: .9em;
  width: 38px;
  margin: 0;
}

#tabla-estructura-costos tr:nth-child(odd) {
  background: #ECEFF1;
}

#tabla-estructura-costos button {
  background-color: red;
}