#titulo-tabla-estructura-costos {
  font-size: .8em;
  font-weight: bold;
  margin-top: 8px;
}

#tabla-estructura-costos {
  margin-top: 8px;
}

#tabla-estructura-costos td {
  font-size: .8em;
  text-transform: capitalize;
  padding-right: 10px;
  padding-left: 10px;
}

#tabla-estructura-costos input {
  height: 10px;
  font-size: .8em;
  width: 40px;
}

#tabla-estructura-costos tr:nth-child(odd) {
  background: #ECEFF1;
}