#contenedor-barrio {
  margin-bottom: 24px;
}

#contenedor-barrio select, #contenedor-barrio option {
  padding: 8px;
  border-radius: 4px;
}

#contenedor-barrio option {
  font-size: 1em;
}

#contenedor-barrio input, #contenedor-barrio select {
  margin-bottom: 16px;
}