#fondo-resumen {
  background: white;
  flex: 2;
  border-bottom-right-radius: 4px;
  transition: all .5s ease-in-out;
}

#contenido-resumen {
  display: flex;
  flex-direction: column;
}

#grafico-crecimiento {
  display: flex;
  justify-content: center;
  height: 360px;
}

#cuadros-estrategias {
  display: flex;
  flex-direction: row;
}

div[id^="fondo-estrategia"] {
  flex: 1;
  border-radius: 4px;
  margin-top: 16px;
  background-color: #F5F5F5;
}

#fondo-estrategia-a {
  margin-left: 8px;
  margin-right: 32px;
}

#fondo-estrategia-b {
  margin-left: 32px;
  margin-right: 8px;
}

div[id^="fondo-estrategia"] h1 {
  padding: 12px 0;
  text-align: center;
  font-weight: bold;
  width: 100%;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#fondo-estrategia-a h1 {
  background-color: #EF7B10;
}

#fondo-estrategia-b h1 {
  background-color: #5F7D8B;
}

.resultados-estrategia {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #263238;
}

.resultados-estrategia h2 {
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 8px;
}

.resultados-estrategia p {
  width: 180px;
  text-align: center;
  line-height: 1.1;
}

.resultados-estrategia p:first-child {
  margin-bottom: 16px;
}

.valor-importante {
  font-weight: bold;
  font-size: 1.1em;
}