#reporte {
  font-family: 'FiraSans';
  -webkit-print-color-adjust: exact;
  width: 950px;
  margin: 16px auto;
  border: 1px solid gray;
  padding: 32px;
}

#logo-elanco-reporte {
  position: absolute;
  margin-left: 780px;
  width: 160px;
}

#datos-empresa-reporte {
  margin: 40px;
  border-bottom: 2px solid #2A2E57;
  padding-bottom: 10px;
}

#datos-empresa-reporte li {
  margin-bottom: 10px;
  font-size: 1.1em;
}

#datos-empresa-reporte li > span {
  font-weight: bold;
}

#datos-simulacion-reporte{
  margin-left: 40px;
  display: grid;
  grid-template-columns: 50% 50%;
}

#datos-simulacion-reporte li {
  margin-bottom: 10px;
  font-size: 1.1em;
}

#datos-simulacion-reporte li > span {
  font-weight: bold;
}

#reporte h6 {
  font-size: .6em;
  align-self: center;
  margin-bottom: 32px;
  width: 100%;
  text-align: center;
}

#reporte h1 {
  text-align: left;
  margin: 16px 32px;
  margin-top: 60px;
  font-size: 2em;
  margin-bottom: 36px;
  color: #2A2E57;
  padding: 4px 16px;
  border-left: 8px solid #EF7B10;
}

#reporte h2 {
  text-align: left;
  margin: 36px;
  margin-top: 48px;
  font-size: 1.8em;
  color: #2A2E57;
  padding-bottom: 2px;
  border-bottom: 2px solid #2A2E57;
}

#reporte h3 {
  font-size: 1.4em;
  margin: 16px auto;
  color: #2A2E57;
  margin-left: 40px;
}

#comparacion {
  display: flex;
  margin-bottom: 32px;
}

#comparacion > div {
  flex: 1;
}

#comparacion > div {
  display: flex;
  flex-direction: column;
}

#comparacion > div:first-child {
  align-items: flex-end;
}

#comparacion > div:nth-child(2) {
  align-items: center;
}

#comparacion > div:last-child {
  align-items: flex-start;
}

#comparacion > div > h3 {
  background-color: #F2F2F2;
  color: #2A2E57;
  padding: 8px;
  font-weight: bold;
  font-size: 1.1em;
  margin: 0;
  margin-bottom: 16px;
}

#comparacion > div > div {
  text-transform: uppercase;
  font-size: .8em;
  font-weight: bold;
  margin: 6px 0;
  padding: 8px 0;
  height: 10px;
  color: #2A2E57;
  background-color: #F2F2F2;
  width: 120px;
}

#comparacion > div:nth-child(1) > div {
  text-align: right;
  padding-right: 16px;
  border-radius: 24px 0 0 24px;
}

#comparacion > div:nth-child(3) > div {
  padding-left: 16px;
  border-radius: 0 24px 24px 0;
}

#comparacion > div:nth-child(2) > div {
  color: gray;
  background-color: white;
  text-align: center;
  width: 300px;
}

#comparacion > div:nth-child(2) > div:last-child {
  height: 24px;
  border-top: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  font-size: .9em;
  color: #2A2E57;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lengueta {
  background-color: #9CC7CE;
  height: 26px;
  margin-top: -8px;
}

.valor {
  margin-top: -18px;
}

#comparacion > div:nth-child(1) > div > div.lengueta {
  border-radius: 24px 0 0 24px;
}

#comparacion > div:nth-child(1) > div > div.valor {
  margin-right: 16px;
}

#comparacion > div:nth-child(3) > div > div.lengueta {
  margin-left: -16px;
  border-radius: 0 24px 24px 0;
}

#comparacion > div:nth-child(3) > div > div.valor {
  margin-left: 16px;
}

#comparacion > div:nth-child(1) > div:last-child,
#comparacion > div:nth-child(3) > div:last-child {
  font-size: 1.2em;
  height: 26px;
}

#comparacion > div:nth-child(1) > div:last-child > div.lengueta,
#comparacion > div:nth-child(3) > div:last-child > div.lengueta {
  height: 42px;
  background: #417B85;
}

#comparacion > div:nth-child(1) > div:last-child > div.valor,
#comparacion > div:nth-child(3) > div:last-child > div.valor {
  margin-top: -30px;
  color: white;
}

#reporte-estructura-costos {
  margin: 18px auto;
  width: 70%;
  text-align: center;
}

#reporte-estructura-costos th {
  font-size: 1.0em;
  font-weight: bold;
  color: #2A2E57;
  background: #ECEFF1;
  vertical-align: middle;
  padding: 6px 10px;
  border-bottom: 2px solid #2A2E57;
}

#reporte-estructura-costos th:last-child {
  text-transform: none;
}

#reporte-estructura-costos td {
  font-size: 1.0em;
  vertical-align: middle;
  padding: 6px 10px;
}

#reporte-estructura-costos input {
  height: 12px;
  font-size: .8em;
  width: 40px;
  margin: 0;
}

#reporte-estructura-costos tr:nth-child(even) {
  background: #ECEFF1;
}

#anexos {
  page-break-before: always;
}
.tabla-reporte {
  margin: 18px auto;
  width: 70%;
  text-align: center;
}

.tabla-reporte th {
  font-size: 1.0em;
  font-weight: bold;
  color: #2A2E57;
  background: #ECEFF1;
  vertical-align: middle;
  padding: 6px 10px;
  border-bottom: 2px solid #2A2E57;
}

.tabla-reporte td {
  font-size: 1.0em;
  vertical-align: middle;
  padding: 6px 10px;
}

.tabla-reporte td:last-child, .tabla-reporte th:last-child {
  text-align: right;
}

.tabla-reporte input {
  height: 12px;
  font-size: .8em;
  width: 40px;
  margin: 0;
}

.tabla-reporte tr:nth-child(even) {
  background: #ECEFF1;
}

#cuadros-reporte-estrategias {
  display: flex;
  text-align: center;
}

#fondo-reporte-estrategia-b {
  flex: 1;
}

#fondo-reporte-estrategia-a {
  flex: 1;
}

#fondo-reporte-estrategia-b > h1 {
  border-left: 0px;
  padding: 8px 16px;  
  font-weight: bold;
  font-size: 1.2em;
  background-color: #5F7D8B;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
  margin-bottom: 0px;
  margin-top: 0;
  text-align: center;
}

#fondo-reporte-estrategia-a > h1 {
  border-left: 0px;
  padding: 8px 16px;
  font-weight: bold;
  font-size: 1.2em;
  background-color: #EF7B10;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
  margin-bottom: 0px;
  margin-top: 0;
  text-align: center;
}

#reporte .resultados-reporte-estrategia {
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #263238;
  margin-top: 0px;
}

#reporte .resultados-reporte-estrategia h2 {
  text-align: center;
  margin-top: 32px;
  font-size: 3em;
  font-weight: bold;
  border: 0;
  padding: 0;
}

#reporte .resultados-reporte-estrategia p {
  width: 160px;
  text-align: center;
  font-size: .8em;
  margin-top: 0;
}

#tratamientos-resumen{
  display: flex;
  flex-direction: row;
}

.estrategia-resumen{
  flex: 1;
  justify-content: center;
}
.estrategia-resumen h3{
  text-align: left;
}

.estrategia-resumen table{
  margin-left: 36px;
}

.estrategia-resumen .tabla-reporte td:last-child, .estrategia-resumen .tabla-reporte th:last-child {
  text-align: center;
}