#fondo {
  background: url(../../assets/fish-farm-iceland.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.contenido {
  background-color: rgba(255, 255, 255, 0.9);
  flex: 1;
}

.barra-superior-contenido {
  height: 50px;
  width: 100%;
  background-color: #E65100;
  border-bottom: 1px solid #efefef;
  display: flex;
  align-items: center;
}

.titulo-contenido {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  margin-left: 24px;
}

.contenido-contenido {
  padding: 32px;
}

.contenido-contenido label {
  display: block;
  margin-bottom: 4px;
  font-size: .85em;
}

.contenido-contenido input {
  padding: 8px;
  margin-bottom: 16px;
  font-size: 1.1em;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #bdbdbd;
}