#contenedor-semanas {
  display: flex;
  flex-direction: column;
}

div[id^="semanas-estrategia"] {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

div[id^="semanas-estrategia"] > div {
  width: 20px;
  height: 20px;
  font-size: 0.6em;
  border: 1px solid #cecece;
  padding: 2px;
  background-color: white;
  transition: all .25s ease-in-out;
}

div[id^="semanas-estrategia"] > div.tratamiento-activo {
  background-color: #A5D6A7;
}

div[id^="semanas-estrategia"] > div.tratamiento-activo:hover {
  background-color: #66BB6A;
}

.contenedor-tratamientos-estrategia {
  padding: 8px 12px;
  border-radius: 8px;
}

.contenedor-tratamientos-estrategia:first-child {
  background-color: #E65100;
}

.contenedor-tratamientos-estrategia:nth-child(2) {
  margin-top: 24px;
  background-color: #0097A7;
}

.contenedor-tratamientos-estrategia > h2 {
  margin-bottom: 8px;
  font-size: 0.8em;
  color: white;
}

div[id^="semanas-estrategia"] > div > span {
  pointer-events: none;
}

div[id^="semanas-estrategia"] > div:hover {
  background-color: #efefef;
  border-color: #767676;
  cursor: pointer;
}

#popup-semana {
  position: absolute;
  display: none;
  font-size: 0.8em;
  pointer-events: none;
  background-color: #fffdda;
  padding: 2px 4px;
  border-radius: 4px;
}

#popup-tratamiento {
  position: absolute;
  padding: 8px 8px;
  background-color: #607D8B;
  display: none;
  z-index: 10;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

#popup-tratamiento label {
  font-size: .7em;
  color: white;
}

#popup-tratamiento select {
  margin-bottom: 8px;
}

#popup-tratamiento button {
  cursor: pointer;
}