#contenedor-calendarios {
  display: flex;
  flex-direction: column;
}

div[id^="semanas-estrategia"] {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

div[id^="semanas-estrategia"] > div {
  width: 20px;
  height: 16px;
  font-size: 0.6em;
  padding: 3px;
  background-color: white;
  transition: all .25s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #607D8B;
}

.contenedor-tratamientos-estrategia .tratamiento-aplicado {
  background-color: #607D8B;
  color: white;
}

.contenedor-tratamientos-estrategia .tratamiento-aplicado.imvixa {
  background-color: #EF7B10;
  color: white;
}

.contenedor-tratamientos-estrategia .tratamiento-activo {
  background-color: #B0BEC5;
}

.contenedor-tratamientos-estrategia .tratamiento-activo.imvixa {
  background-color: #FFCC80;
}

div[id^="semanas-estrategia"] > div.tratamiento-inactivo {
  background-color: #ECEFF1;
}

.contenedor-tratamientos-estrategia {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.contenedor-tratamientos-estrategia:nth-child(2) {
  margin-top: 16px;
}

.contenedor-tratamientos-estrategia > h2 {
  margin-top: 4px;
  margin-bottom: 12px;
  font-size: 0.8em;
  color: #263238;
  font-weight: bold;
}

div[id^="semanas-estrategia"] > div > span {
  pointer-events: none;
}

div[id^="semanas-estrategia"] > div:hover {
  background-color: #efefef;
  border-color: #767676;
  cursor: pointer;
}

#popup-semana {
  position: absolute;
  display: none;
  font-size: 0.8em;
  pointer-events: none;
  background-color: #fffdda;
  padding: 2px 4px;
  border-radius: 4px;
}

#popup-tratamiento {
  position: absolute;
  padding: 8px 8px;
  background-color: white;
  border-radius: 0 8px 8px 8px;
  display: none;
  z-index: 10;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #90A4AE;
}

#popup-tratamiento label {
  font-size: .7em;
  color: #263238;
}

#popup-tratamiento select {
  font-size: .7em;
  margin-bottom: 8px;
  padding: 2px;
  border-radius: 4px;
}

#popup-tratamiento button {
  cursor: pointer;
}

#popup-tratamiento input {
  font-size: .7em;
  padding: 2px 0 2px 4px;
  width: 30px;
}

#popup-tratamiento input+span {
  font-size: .7em;
  margin-left: 2px;
}

#popup-tratamiento div:nth-child(3) div:nth-child(2) {
  margin-left: 8px;
}

#popup-tratamiento button[id^="boton"] {
  border: 0;
}

#boton-cerrar-popup-tratamiento {
  position: absolute;
  color: #455A64;
  background: rgba(0, 0, 0, 0);
  top: -10px;
  right: -2px;
}

#boton-eliminar-tratamiento {
  color: #455A64;
  background: rgba(0, 0, 0, 0);
  outline: none;
}

#boton-agregar-tratamiento {
  padding: 4px 12px;
  color: white;
  background: #455A64;
  border-radius: 4px;
  font-size: .7em;
}