#bienvenida > img {
  height: calc(100vh - 50px);
  flex: 1;
}

#bienvenida {
  overflow: hidden;
  max-width: calc(100vw - 200px);
  display: flex;
  justify-content: center;
}

.texto_copyright {
  height: 50px;
  position: absolute;
  bottom: 50px;
  color: #0078BF;
}

.texto_copyright > p {
  text-align: right;
}