#bienvenida > img {
  height: calc(100vh - 50px);
  flex: 1;
}

#bienvenida {
  overflow: hidden;
  max-width: calc(100vw - 200px);
  display: flex;
  justify-content: center;
  position: relative;
}

.texto_copyright {
  position: fixed;
  bottom: .5em;
  right: .5em;
  color: #0078BF;
  font-size: .9rem;
}

.texto_copyright > p {
  text-align: right;
}