#grafico-regulacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 960px;
  padding-bottom: 32px;
  padding-top: 32px;
}

#nombres-niveles-bioseguridad {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nombres-niveles-bioseguridad > div {
  border-bottom: 1px solid black;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#porcentajes-niveles-bioseguridad > div {
  position: absolute;
  margin-left: 4px;
}

#porcentajes-niveles-bioseguridad .texto-nivel {
  margin-left: -240px;
  padding-top: 8px;
  border-bottom: 1px dashed gray;
  padding-bottom: 8px;
  padding-right: 36px;
}

#termometro-bioseguridad {
  background: linear-gradient(180deg, rgba(212,2,2,1) 0%, rgba(210,221,69,1) 66%, rgba(0,255,161,1) 100%);
  width: 48px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.253);
}

div[id^="regulacion"] {
  position: absolute;
  width: 48px;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  border-top: 1px solid rgba(0, 0, 0, 0.253);
}

#regulacion-imvixa {
  background-color: rgb(233, 151, 0);
}

#regulacion-imvixa > p {
  margin-top: 0px;
  height: 10px;
  background-color: #EF7B10;
}

#regulacion-tradicional {
  background-color: rgba(128, 128, 128, 1);
}

#regulacion-tradicional > p {
  margin-top: -52px;
  background-color: #5F7D8B;
}

div[id^="regulacion"] > p {
  margin-left: 72px;
  margin-top: -4px;
  width: 200px;
  font-size: .8em;
  background: black;
  color: white;
  padding: 20px 10px;
  text-align: center;
  border-radius: 4px;
}

div[id^="regulacion"] > p > span {
  position: absolute;
}

#regulacion-imvixa > p > span {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 45px;
  border-style: solid;
  border-width: 0 30px 20px 0;
  border-color: transparent #EF7B10 transparent transparent;
}

#regulacion-tradicional > p > span {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 45px;
  border-style: solid;
  border-width: 0 0 20px 30px;
  border-color: transparent transparent #5F7D8B transparent;

}