#grafico-pti {
  margin: 72px auto;
  margin-top: 100px;
}

#contenedor-marcadores-pti {
  display: flex;
  flex-direction: row;
  margin-left: 120px;
}

#barra-pti {
  display: flex;
  height: 24px;
  background: rgba(255,255,255,1);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 22%, rgba(18,180,170,1) 100%);
  border: 1px solid #cecece;
  margin-left: 120px;
}

div[id^="indicador-pti"] {
  position: absolute;
  margin-top: -64px;
  font-size: .8em;
  color: white;
  width: 100px;
  text-align: center;
  border-left: 2px solid #5F7D8B;
}

div[id^="indicador-pti"] > p {
  padding: 8px 4px;
  border-radius: 0 4px 4px 0;
  line-height: 1.2em;
}

div[id^="indicador-pti"] > span {
  display: block;
  height: 32px;
  background-color: transparent;
}

#indicador-pti-imvixa > p {
  background: #EF7B10;
}

#indicador-pti-tradicional > p {
  background: #5F7D8B;
}

#logo-asc > img {
  position: absolute;
  width: 120px;
  height: auto;
  margin-left: 8px;
  margin-top: -16px;
}