#barra-lateral {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px 0 0 8px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#titulo-barra-lateral a {
  color: #263238;
}

#herramientas {
  height: 50px;
}

#lista-secciones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 8px;
}

#lista-secciones a {
  text-decoration: none;
}

#lista-secciones .link-seccion {
  background-color: transparent;
  padding: 18px 16px;
  flex: 1;
  color: #003E65;;
  font-size: .8em;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all .3s ease-in-out;
}

#lista-secciones .link-seccion:hover {
  color: #FFF;
  background-color: #0078BF;
}

#lista-secciones .seccion-seleccionada {
  color: #FFF;
  background-color: #0078BF;
}

#lista-secciones .link-seccion svg {
  margin-right: 16px;
  width: 20px;
}

#logo-elanco {
  width: 148px;
  margin-left: 26px;
  margin-bottom: 24px;
  margin-top: 10px;
}