#barra-lateral {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px 0 0 8px;
  width: 200px;
}

#barra-lateral h1 {
  border-radius: 8px 0 0 0;
  background-color: #FFB74D;
  color: black;
  font-size: 0.8em;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#lista-secciones {
  margin-top: 8px;
}

#lista-secciones a {
  text-decoration: none;
}

#lista-secciones .link-seccion {
  background-color: transparent;
  padding: 18px 16px;
  color: #455A64;
  font-size: .8em;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all .3s ease-in-out;
}

#lista-secciones .link-seccion:hover {
  color: #FFF;
  background-color: #455A64;
}

#lista-secciones .link-seccion svg {
  margin-right: 16px;
  width: 20px;
}