#barra-lateral {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px 0 0 8px;
  width: 200px;
}

#barra-lateral h1 {
  border-radius: 8px 0 0 0;
  background-color: #0072CE;
  color: rgb(219, 239, 255);
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}