#contenedor-ajuste-manual {
  padding-right: 32px;
  width: 100%;
}

#contenedor-ajuste-manual h2 {
  font-size: .9em;
  font-weight: bold;
  margin-bottom: 12px;
}

.input-ajuste {
  display: flex;
  align-items: baseline;
  border: 1px solid #ECEFF1;
}

.input-ajuste:nth-child(even) {
  background-color: white;
}

.input-ajuste:nth-child(odd) {
  background-color: #ECEFF1;
}

#contenedor-ajuste-manual label {
  height: 10px;
  font-size: .75em;
  flex: 1;
  padding-left: 8px;
}

#contenedor-ajuste-manual input {
  height: 9px;
  font-size: .75em;
  width: 50px;
  margin: 0;
  padding: 7px 4px;
  border-radius: 0;
}

#header-ajuste-manual {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#header-ajuste-manual > button {
  margin: 0;
  margin-left: 16px;
  font-size: .7em;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  width: 150px;
}

#contenedor-acciones-ajuste {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#boton-volver-ajuste {
  margin-top: 16px;
}

#boton-volver-ajuste > svg {
  margin-right: 8px;
}