#contenedor-ajustes {
  padding: 32px;
}

#tabla-medicamentos {
  margin-top: 16px;
  text-align: left;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  display: block;
  height: 65vh;
  overflow-y: scroll;
}

#tabla-medicamentos th {
  font-weight: bold;
}

#tabla-medicamentos th, #tabla-medicamentos td {
  padding: 8px 16px;
  font-size: .75em;
  vertical-align: middle;
}

#tabla-medicamentos tbody>tr:nth-child(odd) {
  background-color: #ECEFF1;
}

#tabla-medicamentos tbody>tr:nth-child(even) {
  background-color: white;
}

#tabla-medicamentos tbody>tr.medicamento-activo {
  color: white;
}

#tabla-medicamentos tbody>tr.medicamento-activo:nth-child(odd) {
  background-color: hsl(202, 100%, 43%);
}

#tabla-medicamentos tbody>tr.medicamento-activo:nth-child(even) {
  background-color: #0078BF;
}