#contenedor-nuevo-destino button {
  background-color: #BF360C;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 8px;
  font-size: 1em;
}

.contenedor-destino {
  margin-top: 8px;
}

.contenedor-destino p {
  margin-bottom: 4px;
}